<div class="main-header">
    <ul class="custom-breadcrumb">
      <li>Tools</li>
    </ul>
  </div>
  <div class="main-body projects-list-wrapper">
    <div class="container-fluid">
      
      <div class="row">

        <div class="custom-card">

            <div class="col-12 d-flex justify-content-end">
                <div class="col-6 col-md-6 col-lg-4">
                  <div class="form-group mb-0">
                    <div class="form-group-search">
                      <input
                        type="search"
                        class="form-control"
                        placeholder="Search Tools"
                      />
                    </div>
                  </div>
                </div>
              </div>

            <div class="tools-card-grid">
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/docs.svg"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/docs.svg"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
  
                <div class="tool-card">
                  <div class="tool-card-top-bg"></div>
                  <div class="tool-card-header">
                    <div class="tool-icon-container">
                      <img
                        src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                        alt="Tool Icon"
                        class="tool-icon"
                      />
                    </div>
                  </div>
                  <div class="tool-card-body">
                    <h3 class="tool-title">Share Point</h3>
                    <p class="tool-desc">
                      Uses satellite and IoT data to assess disaster impact,
                      coordinate.
                    </p>
                    <div class="tool-badge">Tool</div>
                  </div>
                </div>
              </div>
               
           
        </div>
      </div>
    </div>
  </div>