<div class="container-fluid">
    
    <div class="row">
  
              <div class="col-12 d-flex justify-content-end">
                <div class="col-6 col-md-6 col-lg-4 my-agent-card-box">
                  <div class="form-group mb-0">
                    <div class="form-group-search">
                      <input
                        type="search"
                        class="form-control"
                        placeholder="Search Agent"
                      />
                    </div>
                  </div>
                </div>
              </div>
              
          
            <div class="my-agent-card-grid">
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Video Content Analyzer</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Public sector</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Automated Customer</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">E-Commerce</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
  
              <div class="my-agent-card-container">
                <div class="my-agent-info-card">
                  <div class="my-agent-card-header">
                    <div class="my-agent-card-title">Medical Diagnosis <br /> Assistant</div>
                    <div class="my-agent-card-icons">
                      <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="my-agent-card-icon-small" alt="Badge" />
                      <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="my-agent-card-icon-main" alt="Main Icon" />
                    </div>
                  </div>
                  <div class="my-agent-card-tag">Healthcare</div>
                  <p class="my-agent-card-desc">
                    Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                  </p>
                  <div class="my-agent-card-edit-time">Edited: 2 days ago</div>
                </div>
                <!-- Repeat .my-agent-info-card 3 more times -->
              </div>
                                 
            </div>
             
    </div>
  </div>