<div class="container-fluid">
      
    <div class="row">
  
          <div class="col-12 d-flex justify-content-end">
              <div class="col-6 col-md-6 col-lg-4 my-tools-card-box">
                <div class="form-group mb-0">
                  <div class="form-group-search">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Search Tools"
                    />
                  </div>
                </div>
              </div>
            </div>
  
          <div class="my-tools-card-grid">
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/docs.svg"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/docs.svg"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/code_icon.svg"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
  
              <div class="my-tool-card">
                <div class="my-tool-card-top-bg"></div>
                <div class="my-tool-card-header">
                  <div class="my-tool-icon-container">
                    <img
                      src="/assets/images/agentic-ai-workbench-images/sharepoint.png"
                      alt="Tool Icon"
                      class="my-tool-icon"
                    />
                  </div>
                </div>
                <div class="my-tool-card-body">
                  <h3 class="my-tool-title">Share Point</h3>
                  <p class="my-tool-desc">
                    Uses satellite and IoT data to assess disaster impact,
                    coordinate.
                  </p>
                  <div class="my-tool-badge">Tool</div>
                </div>
              </div>
            </div>
            
    </div>
  </div>