.dropdown {
    &.custom-action-widget {
        position: relative;
        display: inline-block;
        vertical-align: middle;

        .action-widget-target {
            background-color: rgba($primary-color1, 0.2);
            padding: 3px;
            border-radius: 3px;
            display: block;
            cursor: pointer;

            &::after {
                display: none;
            }
        }

        .dropdown-menu {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
            border-radius: 4px;
            background-color: $white-color;
            width: 175px;
            border: 0;

            li {
                display: block;

                a {
                    display: block;
                    padding: 13px 13px 13px 40px;
                    position: relative;
                    cursor: pointer;
                    @include font(14px);
                    line-height: 1;
                    color: $grey-color;
                    text-transform: capitalize;
                    font-weight: 400;

                    &:hover {
                        color: $primary-color1;
                        background-color: $primary-color1-10;
                    }

                    &.disabled {
                        pointer-events: none;
                        cursor: not-allowed;
                        opacity: 0.6;
                    }
                }

                .action-icon {
                    position: absolute;
                    content: '';
                    left: 13px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 14px;
                    height: 14px;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        &.dot-y {
            .action-widget-target {
                transform: rotate(90deg);
            }

            .action-widget-dropdown {
                right: 7px;
                top: 20px;
            }
        }
    }
}