@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';

.main{
    width: calc(100% - 55px);
    min-height: 100vh;
    padding-top: 68px;
    margin-left: 55px;
    position: relative;
    z-index: 1;

    @include media(xl){
        padding-top: 43px;
        margin-left: 90px;
        width: calc(100% - 90px);
    }

    @include media(xxxl){
        margin-left: 106px;
        width: calc(100% - 106px);
    }

    .main-header{
        padding-top: 5px;
        margin-bottom: 15px;  
        
        h4{
            text-transform: capitalize;
        }      

        .custom-breadcrumb{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 21px;
            margin-bottom: 0;

            li{
                @include font(18px);
                line-height: 1.2;
                font-weight: 600;
                color: $grey-color;
                text-transform: capitalize;
                position: relative;

                &::after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    transform: translateY(-50%);
                    right: -11px;
                    height: 18px;
                    width: 2px;
                    background-color: $grey-color;
                }

                &:first-child, &:last-child{
                    &::after{
                        display: none;
                    }
                }

                .back{
                    position: relative;
                    padding-left: 15px;
                    font-weight: 400;
                    color: $primary-color1;
                    @include font(18px);
                    line-height: 1.5;
                    cursor: pointer;
                    text-transform: capitalize;

                    &::before{
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 50%;
                        width: 8px;
                        height: 13px;
                        background-image: url('../../assets/images/icon-arrow-right-blue.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;
                        margin-top: -7.5px;
                    }

                    &::after{
                        position: absolute;
                        content: '';
                        top: 50%;
                        transform: translateY(-50%);
                        right: -11px;
                        height: 22px;
                        width: 1px;
                        background-color: $grey-color;
                    }
                }
            }
        }
    }

    .main-body{
        display: flex;
        min-height: calc(100vh - 78px);
        height: auto;

        @include media(xl){
            min-height: calc(100vh - 160px);
            margin-bottom: 12px;
        }
    }
}

/******************************************************************
Below Styles are for sidenav toggle enable and disable 
Note: Dont add any other styles rather than the collpese opreations
******************************************************************/
.sidebar{
    width: 40px;

    @include media(xl){
        width: 70px;
    }

    @include media(xxxl){
        width: 86px;
    }
    
    ul{
        li{
            .side-menu{
                .side-menu-text{
                    display: none;   
                }
            }
        }
    }

    .toggle-cta{
        img{
            transform: rotate(180deg);
        }
    }
}

/** Enable the toggle **/
.sidebar-active{
    .sidebar{
        @include media(xl){
            width: 220px;
        }

        @include media(xxxl){
            width: 320px;
        }
        
        ul{
            li{
                .side-menu{
                    .side-menu-text{
                        @include media(xl){
                            display: inline-block;
                        }
                    }
                }
                .tooltip{
                    display: none;
                }
            }
        }

        .toggle-cta{
            img{
                transform: rotate(0deg);
            }
        }
    }

    .main{            
        @include media(xl){
            margin-left: 240px;
            width: calc(100% - 240px);
        }
    
        @include media(xxxl){
            margin-left: 340px;
            width: calc(100% - 340px);
        }
    }
}