<div class="main-header">
    <ul class="custom-breadcrumb">
      <li>Agent</li>
    </ul>
  </div>
  <div class="main-body projects-list-wrapper">
    <div class="container-fluid">
      
      <div class="row">

        <div class="custom-card">

            <div class="row align-items-center">
                <div class="col-md-8">
                  <div class="agent-category-container">
                    <button class="agent-category-button active">All</button>
                    <button class="agent-category-button">Finance</button>
                    <button class="agent-category-button">Logistic</button>
                    <button class="agent-category-button">Retail</button>
                    <button class="agent-category-button">Public sector</button>
                    <button class="agent-category-button">Healthcare</button>
                    <button class="agent-category-button">E-Commerce</button>
                    <button class="agent-category-button">More</button>
                  </div>
                </div>

                <div class="col-md-4 d-flex justify-content-end">
                  <div class="col-sm-12 col-md-8 col-lg-6">
                    <div class="form-group mb-0">
                      <div class="form-group-search">
                        <input
                          type="search"
                          class="form-control"
                          placeholder="Search Agent"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="agent-card-grid">

                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Video Content Analyzer</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Public sector</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Automated Customer</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">E-Commerce</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
  
                <div class="agent-card-container">
                  <div class="agent-info-card">
                    <div class="agent-card-header">
                      <div class="agent-card-title">Medical Diagnosis <br /> Assistant</div>
                      <div class="agent-card-icons">
                        <img src="/assets/images/agentic-ai-workbench-images/centific_logo.png" class="agent-card-icon-small" alt="Badge" />
                        <img src="/assets/images/agentic-ai-workbench-images/agent_swort.svg" class="agent-card-icon-main" alt="Main Icon" />
                      </div>
                    </div>
                    <div class="agent-card-tag">Healthcare</div>
                    <p class="agent-card-desc">
                      Processes body cam footage for case analysis, generates insights, and provides a chat-based interface for legal inquiries.
                    </p>
                    <div class="agent-card-edit-time">Edited: 2 days ago</div>
                  </div>
                  <!-- Repeat .agent-info-card 3 more times -->
                </div>
                                   
              </div>
               
           
        </div>
      </div>
    </div>
  </div>